<!--设置log4j2的自身log级别为warn -->
<configuration status="WARN" monitorInterval="300">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<!--过滤掉springframework的一些无用的debug信息 -->
		<!-- springframework的日志级别继承Root的日志级别，即Root为INFO，springframework即为INFO，以此类推 -->
		<!-- <Logger name="org.springframework" level="INFO"></Logger> -->
		<Root level="INFO" includeLocation="true">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</configuration>